# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual envs
.venv/
venv/
.env/

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Test / coverage
.coverage
htmlcov/
.cache/
.pytest_cache/
.mypy_cache/
ruff_cache/

# Docker
*.pid
*.log
docker-compose.override.yml

# System
.DS_Store
Thumbs.db
